@using Web.Core.Dto;
@model List<GalleryDto>
@{
    ViewBag.Title = "Bộ sưu tầm";
}

<script>
    $("#menu_gallery").addClass("menu_active");
</script>


<a href="/Administrator/Gallery/Add" class="btn btn-primary btn-sm btn-icon-split ml-4 mb-3">
    <span class="icon text-white-50">
        <i class="fa fa-plus"></i>
    </span>
    <span class="text">Thêm mới</span>
</a>

<section class="content container">
    <div class="box box-primary">
        <div class="box-body">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4 text-center">
                        <img src="@item.Image" class="img-thumbnail" />
                        <button onclick="confirmDelete(@item.Id)" type="button" class="btn btn-danger mt-3 btn-sm">Xóa</button>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<script>
    function confirmDelete(id) {
        if (confirm("Xác nhận xóa")) {
            location.href = "/Administrator/Gallery/Delete?id=" + id;
        }
    }
</script>