@using Web.Core.Dto;
@model ArticleDto
@{
    List<ArticleDto> articles = (List<ArticleDto>)ViewData["articles"];
    ViewBag.Title = "Liên Hệ";
}

<div class="container-fluid bg-secondary">
    <div class="d-flex flex-column align-items-center  justify-content-center" style="min-height: 80px">

        <div class="d-inline-flex">
            <p class="m-0"><a href="/" class="text-danger">Trang chủ</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Liên hệ</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row row_flex_center">
        <div class="col-sm-12 text-center pt-5 pb-5">
            <h1 class="text-danger">Liên hệ với chúng tôi</h1>
            <hr>
        </div>
        <div class="col-sm-12 col-xs-12 text-center">
            <div class="row">
                <div class="col-sm-12 col_icon_box_gioithieu">
                    <div class="row">
                        <div class="col-sm-12 pb-5 text-center">
                            <div class="box_text">
                                <p id="textInContact">
                                    <span class=" pr-4"><i class="fa-solid fa-phone text-danger"></i></span>
                                    <span class="">Hotline :</span>
                                    <a href="tel:0936791505" class=" pl-3 " style="color: #1C1C1C">0936.791.505 </a>@*-<a class=" pl-3" href="tel:0936.791.505">0939.791.505</a>*@
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-12 pb-5 text-center">
                            <div class="box_text">
                                <p id="textInContact">
                                    <span class="pr-4"><i class="fa-solid fa-envelope text-danger"></i></span>
                                    <span class="">Email :</span>
                                    <a href="mailto:phuchunghome2020@gmail.com" class="pl-3" style="color: #1C1C1C">phuchunghome2020@gmail.com</a>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
