@{
    ViewBag.Title = "Giới Thiệu ";
 }

<div class="container-fluid bg-secondary">
    <div class="d-flex flex-column align-items-center  justify-content-center" style="min-height: 80px">

        <div class="d-inline-flex">
            <p class="m-0"><a href="/" class="text-danger">Trang chủ</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Giới thiệu</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row row_flex_center">
        <div class="col-sm-12 text-center pt-5">
            <h1 class="text-danger">VỀ CHÚNG TÔI</h1>
            <hr>
            <p class="description_section">Thành lập từ năm 2022 đến nay, <b>Của hàng Phúc Hưng Home</b> là địa chỉ uy tín cung cấp sản phẩm thiết bị nhà bếp cao cấp trên quy mô bán buôn - bán lẻ đã gây dựng thương hiệu và phát triển bền vững nhắm đến lợi ích người tiêu dùng.</p>
        </div>
        <div class="col-sm-12 text-left pt-4 pb-5">
            <h5 ><span class="text-danger">5 Lý do khách hàng</span> ưa thích và lựa chọn mua sắm tại <b>Cửa hàng Phúc Hưng Home</b> !</h5>
        </div>


        <div class="col-sm-12 col-xs-12 pl-5">
            <div class="row">
                <div class="col-sm-12 col_icon_box_gioithieu">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="box_text">
                                <p><span class=" h5 pr-2"><i class="fa-solid fa-circle-check text-success"></i></span><span class="h4 ">Không cần mặc cả</span></p>  
                                <p class="pl-5">
                                    - Các sản phẩm được bán với giá thấp nhất có thể. Khách hàng không phải mất thời gian khảo giá trước khi mua. <br />  - Với sứ mệnh của một đơn vị dẫn đầu, <b>Phú  Chung Home  </b> luôn cam kết không bán phá giá - nhằm giữ vững quyền lợi của khách hàng. Rất nhiều khách hàng sau mua các sản phẩm được bán với giá quá thấp so với quy định (được quảng cáo là <b>đại hạ giá</b>) khiến sản phẩm bị nhà sản xuất từ chối bảo hành.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="box_text">
                                <p><span class=" h5 pr-2"><i class="fa-solid fa-circle-check text-success"></i></span><span class="h4 ">Chính sách đổi hàng</span></p>
                                <p class="pl-5">
                                    - Nếu khách hàng chưa ưng ý với sản phẩm thì có thể đổi sang sản phẩm khác sau 3 ngày
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="box_text">
                                <p><span class=" h5 pr-2"><i class="fa-solid fa-circle-check text-success"></i></span><span class="h4 ">Hàng mới liên tục</span></p>
                                <p class="pl-5">
                                    - <b>Phú Chung Home</b> liên tục nhập sản phẩm mới tại nhiều nhà phân phối khác nhau nên khách hàng sẽ có cơ hội sử dụng các sản phẩm mới nhất trên thị trường với mẫu mã cực kỳ phong phú và đa dạng cùng tiêu chí đẹp, tiện dụng.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="box_text">
                                <p><span class=" h5 pr-2"><i class="fa-solid fa-circle-check text-success"></i></span><span class="h4 ">Phục vụ nhiệt tình</span></p>
                                <p class="pl-5">
                                    - Đến với <b>Phú Chung Home</b> bạn sẽ luôn được tiếp đón và phục vụ nhiệt tình. <br /> - Khách hàng có thể góp ý hoặc khiếu nại về thái độ phục vụ không tốt thông qua đường dây nóng hoặc qua website.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="box_text">
                                <p><span class=" h5 pr-2"><i class="fa-solid fa-circle-check text-success"></i></span><span class="h4 ">Tư vấn trực tuyến 24/7</span></p>
                                <p class="pl-5">
                                    - Đội ngũ tư vấn của chúng tôi luôn sẵn sàng tư vấn trực tuyến để giúp quý khách lựa chọn giải pháp hợp lý nhất cho căn bếp của mình.<br /> - Hoặc Hotline 24/24 : <b>0936.791.505 - 0939.791.505</b>
                                </p>
                            </div>
                        </div>
                        
                    </div>
                </div>
             
            </div>
        </div>
    </div>
</div>

