
@{
    ViewBag.Title = "OrderSuccess";
}
<div class="container-fluid bg-secondary">
    <div class="d-flex flex-column align-items-center  justify-content-center" style="min-height: 80px">

        <div class="d-inline-flex">
            <p class="m-0"><a href="/" class="text-danger">Trang chủ</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Đặt hàng thành công</p>
        </div>
    </div>
</div>


<div class="container-fluid ">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="mb-5 mt-5">
                <h3 style="color: #0b9e24;">Đặt hàng thành công</h3>
                <hr />
                <div class="row justify-content-center">
                    <div class="col-md-6" style="font-size:14px">
                        Cảm ơn quý khách hàng đã đặt hàng trên hệ thống <span style="font-weight: bolder;">Phú Chung Home</span>.
                        Chúng tôi sẽ liên hệ tới quý khách hàng trong thời gian sớm nhất.
                        Cảm ơn quý khách!
                    </div>
                </div>
            </div>
            <div>
                <a href="/" class="btn btn-danger" style="border-radius:13px">Quay lại trang chủ</a>
            </div>
        </div>
    </div>
</div>

